In [2]:
import pandas as pd

In [65]:
df = pd.read_csv('AB_NYC_2019.csv')

In [6]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0

In [8]:
df["id"]=df["id"].astype(str)
df["host_id"]=df["host_id"].astype(str)
df["latitude"]=df["latitude"].astype(str)
df["longitude"]=df["longitude"].astype(str)

In [10]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,48906.000000,48906.000000,48906.000000,38854.000000,48906.000000,48906.000000
mean,152.711324,7.031612,23.300454,1.373151,7.142702,112.782031
std,240.128713,20.512489,44.607175,1.680270,32.948926,131.620370
min,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [16]:
df.nunique()

id                                48895
name                              47896
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [18]:
df['neighbourhood_group'].value_counts()

neighbourhood_group
Manhattan        21669
Brooklyn         20107
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

In [20]:
df['neighbourhood_group'].value_counts(normalize = True)

neighbourhood_group
Manhattan        0.443074
Brooklyn         0.411136
Queens           0.115855
Bronx            0.022308
Staten Island    0.007627
Name: proportion, dtype: float64

In [22]:
df['room_type'].value_counts()

room_type
Entire home/apt    25414
Private room       22332
Shared room         1160
Name: count, dtype: int64

In [24]:
df['room_type'].value_counts(normalize = True)

room_type
Entire home/apt    0.519650
Private room       0.456631
Shared room        0.023719
Name: proportion, dtype: float64

In [26]:
df['neighbourhood'].value_counts()

neighbourhood
Williamsburg          3921
Bedford-Stuyvesant    3715
Harlem                2658
Bushwick              2465
Upper West Side       1974
                      ...
Fort Wadsworth           1
Richmondtown             1
New Dorp                 1
Rossville                1
Willowbrook              1
Name: count, Length: 221, dtype: int64

In [44]:
df_n = df['neighbourhood'].value_counts().reset_index().rename(columns = {"count" : "number_of_hotels" })

In [46]:
df_n

          neighbourhood  number_of_hotels
0          Williamsburg              3921
1    Bedford-Stuyvesant              3715
2                Harlem              2658
3              Bushwick              2465
4       Upper West Side              1974
..                  ...               ...
216      Fort Wadsworth                 1
217        Richmondtown                 1
218            New Dorp                 1
219           Rossville                 1
220         Willowbrook                 1

[221 rows x 2 columns]

In [54]:
df_n[df_n['number_of_hotels']>500]

                neighbourhood  number_of_hotels
0                Williamsburg              3921
1          Bedford-Stuyvesant              3715
2                      Harlem              2658
3                    Bushwick              2465
4             Upper West Side              1974
5              Hell's Kitchen              1960
6                East Village              1853
7             Upper East Side              1798
8               Crown Heights              1564
9                     Midtown              1545
10                East Harlem              1117
11                 Greenpoint              1115
12                    Chelsea              1113
13            Lower East Side               911
14                    Astoria               900
15         Washington Heights               899
16               West Village               769
17         Financial District               744
18                   Flatbush               621
19               Clinton Hill               572
20           Long Island City               537
21  Prospect-Lefferts Gardens               535
22                 Park Slope               506

## Numerical

In [57]:
df['price'].value_counts(bins = 5)

(-10.001, 2000.0]    48820
(2000.0, 4000.0]        54
(4000.0, 6000.0]        16
(6000.0, 8000.0]         9
(8000.0, 10000.0]        7
Name: count, dtype: int64

In [59]:
bins = (0 , 50, 100, 200, 500, 2000, 10000)

In [61]:
df['price'].value_counts(bins = bins)

(50.0, 100.0]        17373
(100.0, 200.0]       16588
(200.0, 500.0]        7340
(-0.001, 50.0]        6561
(500.0, 2000.0]        958
(2000.0, 10000.0]       86
Name: count, dtype: int64

In [67]:
df['price'].mean()

152.71132376395533

In [69]:
df['price'].std()

240.1287131622437

In [71]:
df['price'].skew()

19.120831694826197

In [73]:
df['price'].kurt()

585.7930484394186